@charset "UTF-8";
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins',  'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','小塚ゴシック Pro','Kozuka Gothic Pro','メイリオ', Meiryo,sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.section {
  padding: 3.75em 0;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 3em 0;
  }
}

.inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 2.5em;
  margin: 0 auto;
  max-width: 960px;
}

.section__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 2.5em;
  margin: 0 auto;
  max-width: 960px;
}

@media screen and (max-width: 767px) {
  .section__inner {
    padding: 0 1.875em;
  }
}

.section__title {
  font-size: 2.5em;
  margin-bottom: 1.75em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 1.875em;
    line-height: 1.3333;
    margin-bottom: 1.2em;
  }
}

.section__title--left {
  text-align: left;
}

.section__title--center {
  text-align: center;
}

.section__title--white {
  color: #fff;
}

.button {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-weight: bold;
}

.button--large {
  font-size: 1.25em;
  line-height: 1.125;
  padding: 1em 4em;
  letter-spacing: 4px;
}

@media screen and (max-width: 767px) {
  .button--large {
    font-size: 1.125em;
  }
}

.button--small {
  font-size: 1.125em;
  line-height: 1.4;
  padding: 0.75em 2.8em;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 767px) {
  .button--small {
    font-size: 1em;
  }
}

.button--bg_primary {
  background: #ffffff;
  color: #fff;
  border: 1px solid #FFFFFF;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button--bg_primary:hover {
  background: #fff;
  color: #000000;
  border: 1px solid #707070;
}

.button--color_primary {
  background: #fff;
  color: #000000;
  border: 1px solid #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button--color_primary:hover {
  color: #fff;
  background: #ffffff;
}

.button--border_radius {
  border-radius: 10px;
}

.button--left {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .button--left {
    text-align: center;
  }
}

.button--center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.op-0 {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.op-1 {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 2.75em 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.3em 0;
  }
}

.header__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: block;
  font-size: 1em;
  line-height: 1.1875;
  letter-spacing: -0.4px;
  font-weight: bold;
  border: 1px solid transparent;
  padding-bottom: 0.8px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.header__link:hover {
  border-bottom: 1px solid #3E3E3E;
}

.header__logo-wrapper {
  width: 89px;
  height: 35px;
}

.header__logo {
  font-size: 1.4375em;
  line-height: 1.2;
  font-weight: bold;
}

.hamberger {
  z-index: 200;
  height: 23px;
}

@media screen and (max-width: 767px) {
  .hamberger {
    display: block;
  }
}

.hamberger__line-wrapper {
  display: inline-block;
  width: 39px;
  height: 100%;
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.hamberger__line {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamberger__line:nth-of-type(1) {
  top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
  top: 11px;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
  opacity: 0;
}

.hamberger__line:nth-of-type(3) {
  bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.hamberger-menu {
  width: 100%;
  height: 100vh;
  background-color: #9e8b8b;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamberger-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamberger-menu__item {
  font-size: 1.25em;
  text-align: center;
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  /* safari, Chrome */
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}

.hamberger-menu__link {
  width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .6em 0;
}

.overlay {
  background: #000000CC;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  z-index: -10;
}

body.fixed {
  width: 100%;
  overflow-y: hidden;
}

.top {
  background: url(../img/first.png) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #000;
  opacity: .2;
}

.top__title-wrapper {
  width: 317px;
  margin-bottom: 2.875em;
}

.top__desc {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
  font-size: 1.375em;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.04em;
}
/*# sourceMappingURL=style.css.map */