@charset "UTF-8";
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins',  'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','小塚ゴシック Pro','Kozuka Gothic Pro','メイリオ', Meiryo,sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  background: #ffffff;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.section {
  padding-top: 6.25em;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 3em 0;
  }
}

.section__inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 2.5em;
  margin: 0 auto;
  max-width: 960px;
}

@media screen and (max-width: 767px) {
  .section__inner {
    padding: 0 1.875em;
  }
}

.section__title {
  font-size: 2.5em;
  margin-bottom: 1.25em;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 34px;
  height: 1px;
  background: #2b2b2b;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 1.875em;
    line-height: 1.3333;
    margin-bottom: 1.2em;
  }
}

.section__desc {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  text-align: center;
  line-height: 1.968;
  letter-spacing: 0.08em;
  margin-bottom: 2.5em;
  font-weight: 500;
}

.button {
  display: inline-block;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 1em 4em;
  letter-spacing: 0.08em;
  font-size: 1.25em;
}

@media screen and (max-width: 767px) {
  .button {
    font-size: 1em;
    padding: .8em 2em;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.op-0 {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.op-1 {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 2.75em 0;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 1.3em 0;
  }
}

.header__inner {
  max-width: 960px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  display: block;
  font-size: 1em;
  line-height: 1.1875;
  letter-spacing: -0.4px;
  font-weight: bold;
  border: 1px solid transparent;
  padding-bottom: 0.8px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.header__link:hover {
  border-bottom: 1px solid #3E3E3E;
}

.header__logo-wrapper {
  width: 89px;
  height: 35px;
}

.header__logo {
  font-size: 1.4375em;
  line-height: 1.2;
  font-weight: bold;
}

.hamberger {
  z-index: 200;
  height: 23px;
}

@media screen and (max-width: 767px) {
  .hamberger {
    display: block;
  }
}

.hamberger__line-wrapper {
  display: inline-block;
  width: 39px;
  height: 100%;
  cursor: pointer;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.hamberger__line {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamberger__line:nth-of-type(1) {
  top: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

.hamberger__line:nth-of-type(2) {
  top: 11px;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(2) {
  opacity: 0;
}

.hamberger__line:nth-of-type(3) {
  bottom: 0;
}

.hamberger__line-wrapper.open .hamberger__line:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
}

.hamberger-menu {
  width: 100%;
  height: 100vh;
  background-color: #9e8b8b;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 40;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s;
  transition: all .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamberger-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamberger-menu__item {
  font-size: 1.25em;
  text-align: center;
  display: -webkit-box;
  /* safari, Chrome */
  display: -moz-box;
  /* Firefox */
  display: -o-box;
  /* Opera */
  display: -ms-box;
  /* IE */
  display: box;
  /* ベンダープレフィックスなし */
  /* safari, Chrome */
  /* Firefox */
  -o-box-align: center;
  /* Opera */
  -ms-box-align: center;
  /* IE */
  box-align: center;
  /* ベンダープレフィックスなし */
}

.hamberger-menu__link {
  width: 100%;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .6em 0;
}

.overlay {
  background: #000000CC;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  z-index: -10;
}

body.fixed {
  width: 100%;
  overflow-y: hidden;
}

.top {
  background: url(../img/first.png) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.top .top__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: .2;
}

.top__title-wrapper {
  width: 317px;
  margin-bottom: 2.875em;
  position: relative;
}

.top__desc {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;
  font-size: 1.375em;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.04em;
  position: relative;
}

.concept__img-wrapper {
  text-align: center;
  padding-bottom: 5.875em;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45.6%, transparent), color-stop(45.6%, #ededed), to(#ededed));
  background: linear-gradient(180deg, transparent 0%, transparent 45.6%, #ededed 45.6%, #ededed 100%);
}

.concept__img-wrapper .concept__img {
  max-width: 960px;
}

.works {
  padding-bottom: 8.4375em;
}

@media screen and (max-width: 767px) {
  .works {
    padding-bottom: 3em;
  }
}

.works__items {
  position: relative;
  padding-top: 171%;
}

@media screen and (max-width: 767px) {
  .works__items {
    position: static;
    padding-top: 0;
  }
}

.works-items__item {
  position: absolute;
  width: 43.75%;
}

.works-items__item:nth-of-type(odd) {
  left: 0;
}

.works-items__item:nth-of-type(even) {
  left: 56.1458%;
}

.works-items__item:nth-of-type(1) {
  top: 0;
}

.works-items__item:nth-of-type(2) {
  top: 7.309%;
}

.works-items__item:nth-of-type(3) {
  top: 43.4146%;
}

.works-items__item:nth-of-type(4) {
  top: 63.4756%;
}

@media screen and (max-width: 767px) {
  .works-items__item {
    position: static;
    width: 85.0725%;
    margin-bottom: 5.125em;
  }
  .works-items__item:last-of-type {
    margin-bottom: 0;
  }
  .works-items__item:nth-of-type(odd) {
    margin-right: auto;
  }
  .works-items__item:nth-of-type(even) {
    margin-left: auto;
  }
}

.works-item__img-wrapper {
  position: relative;
  margin-bottom: .8em;
}

.works-item__img-wrapper--small {
  padding-top: 100%;
}

.works-item__img-wrapper--large {
  padding-top: 151.1905%;
}

@media screen and (max-width: 767px) {
  .works-item__img-wrapper--large {
    padding-top: 136.7973%;
  }
}

.works-item__img {
  position: absolute;
  top: 0;
  left: 0;
}

.works-item__title {
  font-size: 1.875em;
  letter-spacing: 0.02em;
  margin-bottom: 0.2em;
}

@media screen and (max-width: 767px) {
  .works-item__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 767px) {
  .works-item__desc {
    font-size: 0.875em;
  }
}

.florist {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(45.6%, transparent), color-stop(45.6%, #ededed), to(#ededed));
  background: linear-gradient(0deg, transparent 0%, transparent 45.6%, #ededed 45.6%, #ededed 100%);
}

.florist__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.florist-items__item {
  width: calc(100%/3 - 60px/2);
  margin-right: 1.875em;
}

.florist-items__item:last-of-type {
  margin-right: 0;
}

.florist-item__img-wrapper {
  position: relative;
  padding-top: 133.3333%;
  overflow: hidden;
  margin-bottom: 1.0938em;
}

.florist-item__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.florist-item__name {
  font-size: 1.875em;
  margin-bottom: 0.3333em;
  letter-spacing: 0.02em;
}

.florist-item__desc {
  line-height: 1.968;
  letter-spacing: 0.08em;
}

.shop {
  padding-bottom: 11.25em;
}

.shop__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .shop__contents {
    display: block;
  }
}

.shop__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52.0833%;
          flex: 0 0 52.0833%;
  margin-right: 3.8542%;
}

@media screen and (max-width: 767px) {
  .shop__img-wrapper {
    margin-right: 0;
    margin-bottom: 1.875em;
  }
}

.shop__information-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 44.0625%;
          flex: 1 1 44.0625%;
}

.shop__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25em;
}

@media screen and (max-width: 767px) {
  .shop__information {
    margin-bottom: 1.875em;
  }
}

.shop-information__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.6950%;
          flex: 0 0 22.6950%;
  letter-spacing: 0.08em;
  border-right: 2px solid #a0a0a0;
  margin-right: 7.0922%;
}

@media screen and (max-width: 767px) {
  .shop-information__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
            flex: 0 0 120px;
    margin-right: 4.3478%;
    font-size: 1.5em;
  }
}

.shop-information__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: sans-serif;
}

@media screen and (max-width: 767px) {
  .shop-information__desc {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 75.3523%;
            flex: 1 1 75.3523%;
    font-size: 1.5em;
  }
}

.contact {
  padding-bottom: 4.3125em;
  background: url(../img/contact.png) no-repeat center/cover;
}

.contact__button-wrapper {
  text-align: center;
}

.contact__button {
  background: #fff;
  border: 1px solid #000;
}

.contact-button__icon {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

.footer {
  background: #ffffff;
  padding: 2.25em 0;
  text-align: center;
}

.copyright {
  font-size: 1em;
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */